:host {
  display: inline-flex;
  justify-content: center;
}

:host(.full-width-host) {
  display: flex;
  width: 100%;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block
}