/* ==========================================
  🦶 FOOTER
========================================== */
:host {
  display: block;
  position: absolute;
  width: 100%;
  overflow: hidden;
  z-index: var(--z-footer);
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--space-lg) var(--space-xl);
  height: var(--footer-height);
  text-align: center;  
  background: var(--color-bg-absolute);
  backdrop-filter: blur(var(--blur-header));

  h3 {
    color: var(--color-text-nav);
    margin: 0;
    line-height: 1.5;
    font-size: var(--font-base); 
    font-weight: var(--font-bolder);               
  }

  .footer__subtitle {
    margin-top: var(--space-lg);     
    margin-bottom: var(--space-xs);  
    font-size: var(--space-14);      
    font-weight: var(--font-bolder);         
    color: var(--color-text-nav); 
  }
}